
body {

background-image: url('https://t4.ftcdn.net/jpg/16/09/81/23/360_F_1609812366_h896NjjHPF3KUy64kcBNXxqyk78BUAjo.jpg');
background-attachment: fixed;
background-repeat: repeat;
overflow: hidden;





}
 