body {
    background-image: url('https://t4.ftcdn.net/jpg/16/09/81/23/360_F_1609812366_h896NjjHPF3KUy64kcBNXxqyk78BUAjo.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    overflow: hidden;


}

.site-content {
    width: auto;
    margin: 10px;
    margin-top: 20px;

    /*(c) solielios*/
    border-width: 12px;
    border-style: solid;
    border-image: url(./assets/site-border.png) 11 fill round;
}

.title-card {
    max-width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-card-element {
    margin: auto;
}

.intro {
    max-width: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.intro-element {
    margin: auto;
}